<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/findpassword_style.css" />
    <title>vanilaSchedule</title>
  </head>

  <body>
    <div class="wrapper fadeInDown">
      <div id="formContent">
        <h1>비밀번호 찾기</h1>

        <form id="findpaaswordForm" method="post" style="margin:30px;">
          <input
            type="text"
            id="login_email"
            name="login_email"
            class="fadeIn second"
            placeholder="Email"
          />
          <input
            id="FindPassword_Button"
            style="margin:30px;"
            type="submit"
            class="fadeIn fourth"
            value="비밀번호 찾기"
            formaction="/findpassword"
          />
        </form>
      </div>
    </div>
    <script type="text/javascript " src="../js/findpassword_js.js "></script>
  </body>
</html>
