<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/mypage_style.css" />
    <title>vanilaSchedule</title>
  </head>

  <body>
    <% if(mypagecheck=='failmodify'){ %>

    <script>
      alert("비밀번호를 다시 확인해주세요.");
    </script>
    <% } %>

    <div class="wrapper fadeInDown">
      <div id="formContent">
        <h1>정보 수정</h1>
        <div id="data" style="display: none;">
          <%= data %>
        </div>
        <!-- Sign in Form -->
        <form id="ModifyForm" method="post" style="margin:30px;">
          <h2>Email</h2>
          <input
            type="text"
            id="login_email"
            name="login_email"
            class="fadeIn second"
            value=""
            disabled
          />
          <input
            type="password"
            id="login_password"
            name="login_password"
            class="fadeIn third"
            placeholder="Password 변경"
          />

          <input
            type="password"
            id="login_password2"
            name="login_password2"
            class="fadeIn third"
            placeholder="Password 재확인"
          />
          <input
            id="modify_Button"
            style="margin:30px;"
            type="submit"
            class="fadeIn fourth"
            value="정보 수정"
            formaction="/mypage/modifyProfile"
          />
        </form>
      </div>
    </div>
    <script type="text/javascript " src="../js/mypage_js.js "></script>
  </body>
</html>
